<!--
  Generated template for the HotOffer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <div>پیش<span>گام</span></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<!--<div class="col-md-3" *ngFor="let pr of goodSellProductsSecond|slice:0:4">-->
  <!--<div class="shop-recent-product" >-->
    <!--<img [src]="baseUrl +imageDir+pr.images[0].image_name" alt="" />-->
    <!--<span><i>{{pr.colors[0].price}} تومان</i></span>-->
    <!--<p>{{pr.name}}</p>-->
    <!--<ul>-->
      <!--<li><a class="btn-cursor" (click)="addToBuyRecentlt(pr.id)" title="">سبد خرید</a></li>-->
      <!--<li><a class="btn-cursor" [routerLink]="['/products',pr.id]"title="">جزئیات</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<!--<ion-content class="page-hotoffers">-->
  <!--<div>-->
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col col-6 *ngFor="let pr of goodSellProductsSecond|slice:0:2">-->
          <!--<img class="width100" [src]="baseUrl +imageDir+pr.image_name" alt="">-->
          <!--<div class="ads-box-title  btn-cat">-->
            <!--<button class="ads-button"  ion-button small clear (click)="categories('0200')"> {{pr.name}}</button>-->
          <!--</div>-->
        <!--</ion-col>-->

        <!--&lt;!&ndash;<ion-col col-6>&ndash;&gt;-->
        <!--&lt;!&ndash;<img  class="width100" src="../assets/img/home/women01.png" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col col-6 *ngFor="let pr of goodSellProductsSecond|slice:2:4">-->
          <!--<img class="width100" [src]="baseUrl +imageDir+pr.image_name" alt="">-->
          <!--<div class="ads-box-title  btn-cat">-->
            <!--<button class="ads-button"  ion-button small clear (click)="categories('0200')"> {{pr.name}}</button>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!--&lt;!&ndash;<ion-col col-6>&ndash;&gt;-->
        <!--&lt;!&ndash;<img  class="width100" src="../assets/img/home/women01.png" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
    <!--&lt;!&ndash;<div><img src="../assets/img/home/women01.png" alt=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div><img src="../assets/img/home/women01.png" alt=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div><img src="../assets/img/home/women01.png" alt=""></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div><img src="../assets/img/home/women01.png" alt=""></div>&ndash;&gt;-->
  <!--</div>-->
<!--</ion-content>-->
<!--<ion-content dir='ltr' class="page-home pane no-scroll">-->
<!--<ion-grid>-->
  <!--<ion-row >-->
    <!--<ion-col col-6 *ngFor="let pr of goodSellProductsSecond;let i = index; let e=even; let o=odd;let f=first; let l=last;">-->
      <!--<img class="width100"  [src]="baseUrl +imageDir+pr.images[0].image_name" alt="">-->
      <!--<div class="ads-box-title  btn-cat">-->
        <!--<button class="ads-button"  ion-button small clear (click)="categories('0200')">{{pr.name}} </button>-->
      <!--</div>-->
    <!--</ion-col>-->
    <!--&lt;!&ndash;<ion-col col-6 >&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="width100"  src="../assets/img/home/women01.png"alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="ads-box-title  btn-cat">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ads-button"  ion-button small clear (click)="categories('0200')">mobile </button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-col col-6>&ndash;&gt;-->
    <!--&lt;!&ndash;<img  class="width100" src="../assets/img/home/women01.png" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
  <!--</ion-row>-->
  <!--&lt;!&ndash;<ion-row>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-col col-6 >&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="width100"  src="../assets/img/home/women01.png"alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="ads-box-title  btn-cat">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ads-button"  ion-button small clear (click)="categories('0200')">mobile </button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-col col-6 >&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="width100"  src="../assets/img/home/women01.png"alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="ads-box-title  btn-cat">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ads-button"  ion-button small clear (click)="categories('0200')">mobile </button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<ion-col col-6>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<img  class="width100" src="../assets/img/home/women01.png" alt="">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</ion-col>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-row>&ndash;&gt;-->
<!--</ion-grid>-->
<!--</ion-content>-->
<!--<ion-content class="page-hotoffers">-->
  <!--<ion-slides #sliders class="ads-slider">-->
    <!--<ion-slide>-->
      <!--<a (click)="categories('0100')">-->
        <!--<div class="ads-wrapper">-->
          <!--<div class="ads-box">-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
      <!--<div class="small-ads-wrapper">-->
        <!--<a (click)="categories('0200')">-->
          <!--<div class="left-ads-wrapper">-->
            <!--<div class="ads-box">-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
        <!--<div class="right-ads-wrapper">-->
          <!--<a (click)="categories('0300')">-->
            <!--<div class="tiny-ads-wrapper1">-->
              <!--<div class="ads-box">-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a (click)="categories('0100')">-->
            <!--<div class="tiny-ads-wrapper2">-->
              <!--<div class="ads-box">-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<a (click)="categories('0100')">-->
        <!--<div class="footer-ads-wrapper">-->
          <!--<div class="ads-box">-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</ion-slide>-->
  <!--</ion-slides>-->
<!--</ion-content>-->
<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

