<ion-tabs id="tabs" #mainTabs class="page-tabs" [selectedIndex]="selectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="خانه" [rootParams]="detail" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="پیشنهاد ویژه" tabIcon="flame"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="کارت من" tabIcon="cart" [tabBadge]="allCartNumber" tabBadgeStyle="secondary"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="جستجو" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="پروفایل" [rootParams]="detail" tabIcon="person"></ion-tab>
</ion-tabs>
