<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{menus.name}}</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only (click)="filterModal()">-->
        <!--<ion-icon name="options"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
  <!--<scroll-tabs *ngIf="show" #scrollTab [tabs]="tabs" (onSelectedTab)="tabChange($event)"></scroll-tabs>-->
</ion-header>


<ion-content class="page-categories">
  <!--<div>jekjwkejw wkejkwje wkejrkwe kwjerkwjer kjwekwjre</div>-->
  <!--<div *ngFor="let product of products | slice:0:6">{{product.name}}</div>-->
  <div>
    <div>
      <ion-scroll scrollY="true" class="content-wrapper" >
        <div>
          <div class="card9-container" *ngFor="let product of products ">
            <div class="pic-box" (click)="toProduct(product)">
              <img [src]="baseUrl +imageDir+product.images[0].image_name">
            </div>
            <div class="title" *ngIf="product.name.length < 12">
              {{product.name}}
            </div>
            <div class="title" *ngIf="product.name.length >= 12">
              {{product.name.substring(0,20)+"..."}}
            </div>
            <div class="price-box margin-bottom10">
              <span class="price custom-price"> {{product.colors[0].price}} تومان</span>
            </div>
          </div>

        </div>
      </ion-scroll>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" >
      <!--<div class="price-wrapper align-center" *ngIf=" loading == true">-->
      <!--<img class="search-loading" src="assets/img/loading.gif" alt="">      &lt;!&ndash;<div class="price"> {{setStylePrice(product.colors[0].price)}} تومان</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="old-price">$ {{product.price}}</div>&ndash;&gt;-->
      <!--</div>-->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
