<!--
  Generated template for the Signin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="page-signin no-scroll">
  <div class="login-header">
    <div class="top-logo">
      <img src="assets/img/small-top-logo.png">
    </div>
    <div class="skip">
     <span class="redirect-home" (click)="home()">خانه</span>
    </div>
  </div>
  <div class="content">
    <!--<div class="title">-->
      <!--ورود-->
    <!--</div>-->
    <div class="line2left">
      <div class="line-left"></div>
      <div class="line-right"></div>
    </div>
  </div>
  <ion-list class="clear-list">
    <!--<ion-item>-->
      <!--<ion-icon class="input-icon" ios="ios-mail-outline" md="md-mail" item-left></ion-icon>-->
      <!--<ion-label floating>ایمیل</ion-label>-->
      <!--<ion-input type="email"></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
      <!--<ion-icon class="input-icon" ios="ios-lock-outline" md="md-lock" item-left></ion-icon>-->
      <!--<ion-label floating>رمز عبور</ion-label>-->
      <!--<ion-input type="password"></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
      <!--<button ion-button clear item-right color="greydark">-->
        <!--رمز را فراموش کردم?-->
      <!--</button>-->
    <!--</ion-item>-->
    <button class="login-button" ion-button round full color="secondary" (click)="signup('SignupPage')">
      ثبت نام کاربر
    </button>
    <button class="login-button" ion-button round full (click)="signup('AddagentPage')">
      ثبت نام نماینده
    </button>
    <button class="login-button" ion-button round full (click)="signup('AddsellerPage')">
      ثبت نام فروشنده
    </button>
    <button class="login-button" ion-button round full (click)="signup('AddmarketerPage')">
      ثبت نام بازاریاب
    </button>
  </ion-list>
</ion-content>
<!--<ion-footer class="clear-gap">-->
  <!--<ion-toolbar color="light" no-border>-->
    <!--<p class="title">-->
      <!--یا ورود با-->
    <!--</p>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="facebook"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="twitter"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="google"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
