<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <div><span>فروشگاه</span></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<!--autoplay="2000" loop="true" speed="2000"-->
<ion-content dir='ltr' class="page-home pane no-scroll">
  <ion-slides   #sliders class="ads-slider" pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of slidersSecond">
      <img  [src]="baseUrl +imageDir+slide.image_name">
      <!--&lt;!&ndash;<a (click)="categories(slide.category)">&ndash;&gt;-->
      <!--<div class="ads-wrapper">-->
        <!--<div class="ads-box">-->
          <!--&lt;!&ndash;<div class="ads-title" [innerHTML]="slide.title"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="ads-description">{{slide.description}}</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--</a>-->
      <div class="fade-away"></div>
    </ion-slide>
  </ion-slides>
  <!--<div class="small-ads-wrapper">-->
    <!--<div class="left-ads-wrapper">-->
      <!--<div class="ads-box" [style.backgroundImage]="smallAds[adsCount][0].image">-->
        <!--<div class="ads-box-title">-->
          <!--<button class="ads-button" ion-button small clear (click)="categories('0300')">{{smallAds[adsCount][0].title}}</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="right-ads-wrapper">-->
      <!--<div class="tiny-ads-wrapper1">-->
        <!--<div class="ads-box" [style.backgroundImage]="smallAds[adsCount][1].image">-->
          <!--<div class="ads-box-title">-->
            <!--<button class="ads-button" ion-button small clear (click)="categories('0100')">{{smallAds[adsCount][1].title}}</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="tiny-ads-wrapper2">-->
        <!--<div class="ads-box" [style.backgroundImage]="smallAds[adsCount][2].image">-->
          <!--<div class="ads-box-title">-->
            <!--<button class="ads-button" ion-button small clear (click)="categories('0200')">{{smallAds[adsCount][2].title}}</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

    <ion-grid>
      <ion-row>
        <ion-col class="align-center" col-6 *ngFor="let cat of goodCategories|slice:0:2">
          <img class="home-cat-img" [src]="baseUrl +imageDir+cat.image_name" alt="">
          <div class="ads-box-title  btn-cat">
            <button class="ads-button"  ion-button small clear (click)="categories(cat)">{{cat.name}} </button>
          </div>
        </ion-col>

        <!--<ion-col col-6>-->
          <!--<img  class="width100" src="../assets/img/home/women01.png" alt="">-->
        <!--</ion-col>-->
      </ion-row>
      <ion-row>
        <ion-col col-6 class="align-center" *ngFor="let cat of goodCategories|slice:2:4">
          <img class="home-cat-img" [src]="baseUrl +imageDir+cat.image_name" alt="">
          <div class="ads-box-title  btn-cat">
            <button class="ads-button"  ion-button small clear (click)="categories(cat)">{{cat.name}}</button>
          </div>
        </ion-col>
        <!--<ion-col col-6>-->
        <!--<img  class="width100" src="../assets/img/home/women01.png" alt="">-->
        <!--</ion-col>-->
      </ion-row>
    </ion-grid>
    <!--<div><img src="../assets/img/home/women01.png" alt=""></div>-->
    <!--<div><img src="../assets/img/home/women01.png" alt=""></div>-->
    <!--<div><img src="../assets/img/home/women01.png" alt=""></div>-->
    <!--<div><img src="../assets/img/home/women01.png" alt=""></div>-->

</ion-content>
