page-home {
  .pane {
    background-color: color($colors, light);
    height: 100vh;
  }
  .ads-slider {
    height: 38vh;
  }
  .ads-wrapper {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    .ads-box {
      top: 43%;
      right: 0;
      padding: 2vw 5vw 2vw 5vw;
      position: absolute;
      display: inline-block;
      color: color($colors, pearl);
      background-color: rgba( 51, 51, 51, 0.68);
      .ads-title {
        font-size: 1.26em;
        text-transform: uppercase;
        font-weight: 500;
        span {
          font-size: 1.36em;
        }
      }
      .ads-description {
        font-size: 0.86em;
      }
    }
  }
  .fade-away {
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    height: calc(38vh - 75%);
    background: transparent;
    background: linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -moz-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -ms-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -o-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -webkit-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: color($colors, light);
    }
  }
  .ads-box-title {
    font-size: 0.9em;
    padding: 2vw 3vw 2vw 3vw;
    text-align: center; // width: 26%;
    position: absolute;
    display: inline-block;
    color: color($colors, pearl);
    background-color: rgba( 51, 51, 51, 0.88);
    border: 2px solid color($colors, pearl);
  }
  .ads-box-title:hover {
    background-color: rgba( 51, 51, 51, 0.68);
  }
  .ads-box-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
  }
  .ads-box-title::before {
    border-width: 0.5em;
    border-left-color: color($colors, primary);
    border-bottom-color: color($colors, primary);
  }
  .ads-box-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
  }
  .ads-box-title::after {
    border-width: 0.5em;
    border-right-color: color($colors, secondary);
    border-top-color: color($colors, secondary);
  }
  .ads-button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: color($colors, pearl);
    text-transform: none;
    font-weight: 400;
  }
  .small-ads-wrapper {
    max-height: 50vh;
    width: 100%;
    padding: 0.5vh 0% 2px 1%;
    background-color: color($colors, light);
    .left-ads-wrapper {
      width: 49%;
      display: inline-block;
      .ads-box {
        height: calc(100vh - 38vh - 50px - 70px);
        background: url(../assets/img/home/kids01.png);
        background-size: cover;
        .ads-box-title {
          padding: 1px 8px 1px 8px;
          bottom: 2%;
          left: 13%;
        }
      }
    }
    .right-ads-wrapper {
      width: 49%;
      display: inline-block;
      .tiny-ads-wrapper1 {
        padding-bottom: 2px;
        .ads-box {
          height: calc((100vh - 38vh - 50px - 70px)/2 - 2px);
          background: url(../assets/img/home/women01.png);
          background-size: cover;
          .ads-box-title {
            padding: 1px 8px 1px 8px;
            bottom: calc(((100vh - 38vh - 50px - 70px)/2 - 2px) + 2vh);
            left: 63%;
          }
        }
      }
      .tiny-ads-wrapper2 {
        padding-top: 2px;
        .ads-box {
          height: calc((100vh - 38vh - 50px - 70px)/2 - 2px);
          background: url(../assets/img/home/men01.png);
          background-size: cover;
          .ads-box-title {
            padding: 1px 8px 1px 8px;
            bottom: 2%;
            left: 65%;
          }
        }
      }
    }
  }
}

.width100{
  width: 100%;
}
.btn-cat {
  color:white ;
  background-color: #00acec;
  position: absolute;
  bottom: 33.33%;
  right: 0px;
}
