// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: ( 
   primary: #00acec,
   secondary: #3fb653,
   danger: #f15a67,
   light: #f4f4f4,
   dark: #333333,
   pearl: #ffffff,
   primarydark:#0081b1,
   lightdark: #d9d9d9,
   greydark: #858585,
   processing: #e0a018
  );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$tabs-background: color($colors, dark);
 
 $tabs-wp-tab-color: color($colors, lightdark);
 $tabs-wp-tab-icon-color: color($colors, lightdark);
 $tabs-wp-tab-color-active: color($colors, primary);
 $tabs-wp-tab-icon-color-active: color($colors, primary);

 $tabs-md-tab-icon-color: color($colors, lightdark);
 $tabs-md-tab-text-color: color($colors, lightdark);
 $tabs-md-tab-icon-color-active: color($colors, primary);
 $tabs-md-tab-text-color-active: color($colors, primary);

 $tabs-ios-tab-text-color: color($colors, lightdark);
 $tabs-ios-tab-icon-color: color($colors, lightdark);
 $tabs-ios-tab-icon-color-active: color($colors, primary);
 $tabs-ios-tab-text-color-active: color($colors, primary);
 
 /* Header Toolbar */
 
 $toolbar-background: color($colors, pearl);
 $toolbar-border-color: transparent;
 .toolbar-white-button {
   color: #fff;
 }
 
 ion-title {
   div {
     margin-top: 0.1vh;
     font-size: 1.2em;
     font-weight: 400;
     color: color($colors, primary);
     span {
       color: color($colors, secondary);
     }
   }
 }
 
 .menu-image {
   height: 3.6vw;
 }
 
 /*.no-scroll .scroll-content {
   overflow: hidden;
 }*/
 
 .clear-gap {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
 }
 
 .line {
   display: inline-block;
   border-bottom: 2px solid color($colors, secondary);
   width: 10vw;
 }
 
 .line2left {
   display: inline-block;
   .line-left {
     display: inline-block;
     border-bottom: 2px solid color($colors, secondary);
     width: 8vw;
   }
   .line-right {
     display: inline-block;
     border-bottom: 2px solid color($colors, lightdark);
     width: 8vw;
   }
 }
 
 .line2right {
   display: inline-block;
   .line-left {
     display: inline-block;
     border-bottom: 2px solid color($colors, lightdark);
     width: 8vw;
   }
   .line-right {
     display: inline-block;
     border-bottom: 2px solid color($colors, secondary);
     width: 8vw;
   }
 }
 
 .ion-ios-facebook,
 .ion-ios-facebook-outline,
 .ion-md-facebook {
   content: url(../assets/img/facebook.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .ion-ios-twitter,
 .ion-ios-twitter-outline,
 .ion-md-twitter {
   content: url(../assets/img/twitter.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .ion-ios-google,
 .ion-ios-google-outline,
 .ion-md-google {
   content: url(../assets/img/google.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .clear-list .item {
   margin: 0 0 0 0;
   border: none !important;
   ion-label {
     color: color($colors, greydark);
   }
   ion-input {
     color: color($colors, primary);
   }
   .text-input {
     border: none;
     border-bottom: 1px solid color($colors, lightdark) !important;
     box-shadow: none;
   }
   .text-input:focus {
     border: none;
     border-bottom: 1px solid color($colors, primary) !important;
     box-shadow: none;
   }
   .input-icon {
     padding-top: 3vh;
     color: color($colors, primary) !important;
   }
 }
 
 .clear-list .item:last-child {
   border: none !important;
   ion-input {
     color: color($colors, primary);
   }
   .text-input {
     border: none;
     border-bottom: 1px solid color($colors, lightdark) !important;
     box-shadow: none;
   }
   .text-input:focus {
     border: none;
     border-bottom: 1px solid color($colors, primary) !important;
     box-shadow: none;
   }
 }
 
 .clear-list .item .item-inner {
   border: none !important;
 }
 /* clear android input focus... */
 .item-md.item-input.input-has-focus .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 
 .list-md .item-input.input-has-focus:last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 
 .list-md .item-input.input-has-focus:last-child .item-inner {
   box-shadow: none;
 }
 
 .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 
 .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 
 .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
   box-shadow: none;
 }
 
 .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 
 .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
