<!--
  Generated template for the Product page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons end>
      <button class="heart-button" ion-button icon-only [class.wish]="love" (click)="loveIt()" *ngIf="false">
        <ion-icon name="heart"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goCart()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="allCartNumber>0" class="cart-badge" color="secondary">{{allCartNumber}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page-product">
  <ion-slides dir="ltr" #sliders class="product-slider" pager>
    <ion-slide  *ngFor="let image of product.images">
      <div class="product-wrapper">
        <img  [src]="showImageUrl + image.image_name" />
      </div>
    </ion-slide>
  </ion-slides>
  <div class="product-detail-wrapper">
    <div class="title">
      {{product.name}}
    </div>
    <div dir='rtl' class="price-wrapper align-center">

      <div class="sale-price">
        <span class="title-product">قیمت‌:</span>
         {{setStylePrice(price)  }} تومان
      </div>
      <!--<div class="old-price">-->
        <!--تومان {{product.price}}-->
      <!--</div>-->
    </div>
    <div dir='rtl' class="price-wrapper align-center">

      <div class="sale-price">
        <span class="title-product">وضعیت:</span>
        {{exist}}
      </div>

      <!--<div class="old-price">-->
      <!--تومان {{product.price}}-->
      <!--</div>-->
    </div>
    <!--*ngFor="let color of product.colors;let i = index;-->
    <div *ngIf="true" class="color-wrapper">
      <div class="checkbox-wrapper"  *ngFor="let color of product.colors;let i = index;">
        <ion-checkbox  [ngStyle]="{'background-color': color.color}"  class="inline-checkbox inline cb-product border-radius"  [(ngModel)]="color.selected" (click)="selectColor(i,$event)" ></ion-checkbox>


        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Orange'" class="inline-checkbox cb2" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Pink'" class="inline-checkbox cb3" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Blue'" class="inline-checkbox cb4" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Cyan'" class="inline-checkbox cb5" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='White'" class="inline-checkbox cb6" color="light" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Black'" class="inline-checkbox cb7" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
        <!--<ion-checkbox [ngStyle]="{'background-color': 'red'}" *ngIf="color==='Brown'" class="inline-checkbox cb8" [(ngModel)]="cb[i]" [class.checked]="cb[i]" (click)="clearColor(i)"></ion-checkbox>-->
      </div>
    </div>

    <!--<div class="size-wrapper">-->
      <!--&lt;!&ndash;<span *ngFor="let oSize of product.sizes; let i = index;">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="size-button" ion-button round small outline [class.checked]="size[i]" (click)="clearSize(i)">{{oSize}}</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--</div>-->
    <div  class="description">
      <ion-list>
        <ion-item dir="rtl">
          <ion-label>فروشگاه</ion-label>
          <!--[(ngModel)]="toppings"-->
          <!--(ionChange)="selectBrand($event,i)"-->
          <ion-select  (ionChange)="changeUser($event)"    cancelText="cancel" okText="ok">
            <ion-option [value]="pr.id" *ngFor="let pr of products; let i=index" [selected]="i == 0">
              <i *ngIf="pr.user.role == 'admin'" >k2yab</i>
              <i *ngIf="pr.user.role == 'seller'" >{{pr.user.shoppingName}}</i>

            </ion-option>
            <!--<ion-option [value]="brand.id" [selected]="user.selected" *ngFor="let user of users;let i = index;">{{user.name}}</ion-option>-->
            <!--<ion-option [value]="brand.id" >{{brand.name}}</ion-option>-->
            <!--<ion-option value="xcheese" >پرفروش ترین</ion-option>-->
            <!--<ion-option value="peppers">ارزان ترین</ion-option>-->
            <!--<ion-option value="mushrooms">گران ترین</ion-option>-->

          </ion-select>
        </ion-item>
      </ion-list>
      <!--<div class="description-title">-->
        <!--مشخصات برجسته :-->
      <!--</div>-->
      <!--<ul dir="ltr">-->
        <!--<li class="lineh25 align-center" dir="ltr" *ngFor="let attr of product.importantAttributes"><span class="rtl ">{{attr.title+" : "}}</span><span class="rtl ">{{attr.description}}</span></li>-->
      <!--</ul>-->
    </div>
    <div  class="description">
      <div class="description-title">
        مشخصات برجسته :
      </div>
      <ul dir="ltr">
        <li class="lineh25 align-center" dir="ltr" *ngFor="let attr of product.importantAttributes"><span class="rtl ">{{attr.title+" : "}}</span><span class="rtl ">{{attr.description}}</span></li>
      </ul>
    </div>
    <div  class="description border-top">
      <div class="description-title paddin-top6">
        مشخصات  :
      </div>
      <ion-grid>
        <ion-row dir="rtl" *ngFor="let attr of product.attributesCheck">
          <ion-col col-4>{{attr.title}} : </ion-col>
          <ion-col col-8>{{attr.description}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div dir='ltr' class="footer">
    <div class="button-right width30">
      <button ion-button full clear (click)="selectQty()">{{numberInCart}}<span class="align-right">: تعداد </span></button>
      <ion-item class="quantity-select">
        <!--<ion-label>تعداد</ion-label>-->
        <ion-select #qtySelect [(ngModel)]="numberInCart" (ionChange)="changeNumber()">
          <ion-option value="1" [selected]="numberInCart == 1">1</ion-option>
          <ion-option value="2" [selected]="numberInCart == 2">2</ion-option>
          <ion-option value="3" [selected]="numberInCart == 3">3</ion-option>
          <ion-option value="4" [selected]="numberInCart == 4">4</ion-option>
          <ion-option value="5" [selected]="numberInCart == 5">5</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="button-left width70">
      <button class="width100" ion-button full clear (click)="addToBuy()">اضافه کردن به کارت</button>
    </div>
  </div>
</ion-footer>
