// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu {
  background-color: color($colors, primary);
  .menu-list {
    padding-top: 5vh;
  }
  .menu-list .item {
    color: color($colors, light);
    font-size: 1.36rem;
    background: transparent;
    border: none;
    // border-bottom: 0.1rem solid color($colors, light);
    ion-icon {
      font-size: 2rem;
      padding-top: 3px;
    }
  }
  .menu-list .child {
    padding-left: 8vw !important;
    font-size: 1.28rem;
  }
  .menu-list .item .item-inner {
    background: transparent;
    border: none;
  }

  .list {
    margin-bottom: 0 !important;
  }
}