<ion-menu [content]="content" id="ecom9">

  <ion-header>
  </ion-header>

  <!--<li *ngFor="let menu of menues"><a class="btn-cursor" (click)="navigateCategory(menu.id)" title="">{{menu.name}}</a>-->
    <!--<ul *ngIf="menu.have_sub==true">-->
      <!--<li  *ngFor="let sub of menu.sub_category"><a class="btn-cursor" (click)="navigateCategory(sub.id)" title="">{{sub.name}}</a></li>-->
      <!--&lt;!&ndash; <li><a href="header2.html" title="">{{sub.name}}</a></li> &ndash;&gt;-->

    <!--</ul>-->
  <!--</li>-->
  <ion-content class="menu">
    <ion-list class="menu-list">
      <div *ngFor="let menu of menues;">
        <button detail-none class="parent" ion-item (click)="toggleItems(menu)" (click)="categories(menu)">
          {{menu.name}}
          <ion-icon *ngIf=" menu.have_sub==true && menu.parentShow === false" item-right name="add"></ion-icon>
          <ion-icon *ngIf="menu.parentShow === true" item-right name="remove"></ion-icon>
        </button>
        <ion-list class="menu-child-list" *ngIf="menu.parentShow === true" class="menu-child">
          <button detail-none class="child" ion-item  *ngFor="let sub of menu.sub_category" (click)="categories(sub)">
            <!--(click)="categories(menuItem, child)"-->
            {{sub.name}}
          </button>
        </ion-list>
      </div>
      <!--<button ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
      <button *ngIf="!isLogin"  ion-item  (click)="openPage('AdduserPage')">
            ثبت نام
      </button>
      <button *ngIf="!isLogin"  ion-item  (click)="openPage('SigninPage')">
        ورود
      </button>
      <button *ngIf="isLogin" ion-item  (click)="signOut()">
        خروج
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
