<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding class="page-signup no-scroll">
  <div class="login-header">
    <div class="top-logo">
      <img src="assets/img/small-top-logo.png">
    </div>
    <div class="skip" (click)="skip()">
        خانه
    </div>
  </div>
  <div class="content">
    <div class="title">
      ثبت نام
    </div>
    <div class="line2right">
      <div class="line-left"></div>
      <div class="line-right"></div>
    </div>
  </div>
  <form  #f = "ngForm"  (ngSubmit)="upload(f, firstName.value,lastName.value,email.value,pass.value,passReapet.value,phone.value,mobile.value,address.value,zip_code.value,shoppingName.value)">
  <ion-list class="clear-list">
    <ion-item>
      <ion-icon class="input-icon" ios="ios-person-outline" md="md-person" item-left></ion-icon>
      <ion-label floating>نام</ion-label>
      <ion-input ngModel #firstName="ngModel"  required   name="firstName" maxlength="500" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "firstName.hasError('required') && (f.controls.firstName.dirty || f.submitted)">فیلد نام خالی می باشد .</span></p>
    </ion-item>
    <ion-item>
      <ion-icon class="input-icon" ios="ios-person-outline" md="md-person" item-left></ion-icon>
      <ion-label floating>نام خانوادگی </ion-label>
      <ion-input ngModel #lastName="ngModel"  required   name="lastName" maxlength="500"  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "lastName.hasError('required') && (f.controls.lastName.dirty || f.submitted)">فیلد نام خانوادگی خالی می باشد .</span></p>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-person-outline" md="md-person" item-left></ion-icon>
      <ion-label floating>نام فروشگاه </ion-label>
      <ion-input ngModel #shoppingName="ngModel"  required   name="shoppingName" maxlength="500"  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "shoppingName.hasError('required') && (f.controls.shoppingName.dirty || f.submitted)">فیلد نام فروشگاه خالی می باشد .</span></p>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-person-outline" md="md-person" item-left> </ion-icon>
      <ion-label floating>  </ion-label>
      <ion-input placeholder=""  (change)="fileChangeEvent($event)" type="file"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "emptyFileError && ( f.submitted)">فیلد آپلود عکس خالی می باشد .</span><span *ngIf="mimeTypeError">پسوند عکس باید jpg یا jpeg یا png باشد .</span></p>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-mail-outline" md="md-mail" item-left></ion-icon>
      <ion-label floating>ایمیل</ion-label>
      <ion-input type="email" maxlength="500" name="email"  ngModel #email="ngModel"  required  email (keydown)="emailKeyDown($event)"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="email.hasError('email') && f.controls.email.dirty">ایمیل خود را صحیح وارد کنید .</span><span *ngIf= "email.hasError('required') && (f.controls.email.dirty || f.submitted)">فیلد ایمیل خالی می باشد .</span><span *ngIf="existEmail">این ایمیل قبلا ثبت شده است .</span></p>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-lock-outline" md="md-lock" item-left></ion-icon>
      <ion-label floating>پسورد</ion-label>
      <ion-input type="password" (keydown)="checkSamePassword($event, passReapet.value)" name="pass" ngModel #pass="ngModel" maxlength="500" required   minlength="8"></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="pass.hasError('minlength') && f.controls.pass.dirty">پسورد باید حداقل ۸ کاراکتر باشد .</span><span *ngIf= "pass.hasError('required') && (f.controls.pass.dirty || f.submitted)">فیلد پسورد خالی می باشد .</span></p>
    </ion-item>


    <ion-item>
      <ion-icon class="input-icon" ios="ios-lock-outline" md="md-lock" item-left></ion-icon>
      <ion-label floating>تکرار پسورد</ion-label>
      <ion-input type="password" (keydown)="checkSamePasswordRepeat(pass.value, $event)" name="passReapet" ngModel maxlength="500" #passReapet="ngModel" required minlength="8" ></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="passReapet.hasError('minlength') && f.controls.passReapet.dirty">پسورد باید حداقل ۸ کاراکتر باشد .</span><span *ngIf= "passReapet.hasError('required') && (f.controls.passReapet.dirty || f.submitted)">فیلد تکرار پسورد خالی می باشد .</span><span *ngIf="samePassword"> پسورد و تکرار پسورد یکسان نیستند .</span></p>
    </ion-item>


    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>تلفن</ion-label>
      <ion-input type="text" name="phone" ngModel #phone="ngModel" maxlength="500" pattern="[0-9]{11}" required ></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="phone.hasError('pattern') && f.controls.phone.dirty"> شماره تلفن خود را صحیح وارد کنید .</span><span *ngIf= "phone.hasError('required') && (f.controls.phone.dirty || f.submitted)">فیلد تلفن خالی می باشد .</span></p>

    </ion-item>


    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>موبایل</ion-label>
      <ion-input type="text" name="mobile" ngModel maxlength="500" #mobile="ngModel" pattern="09(1[0-9]|3[1-9]|2[1-9])-?[0-9]{3}-?[0-9]{4}" required ></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="mobile.hasError('pattern') && f.controls.mobile.dirty"> شماره موبایل خود را صحیح وارد کنید .</span><span *ngIf= "mobile.hasError('required') && (f.controls.mobile.dirty || f.submitted)">فیلد موبایل خالی می باشد .</span></p>
    </ion-item>


    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>استان</ion-label>
      <ion-select  multiple="false" name="province"  (ionChange)="changeState($event)"  [(ngModel)]="province">
        <!--<ion-option>Bacon</ion-option>-->
        <ion-option [value]="state" *ngFor="let state of states; let i=index">{{state}}</ion-option>
        <!--<ion-option>Black Olives</ion-option>-->
        <!--<ion-option>Extra Cheese</ion-option>-->
        <!--<ion-option>Mushrooms</ion-option>-->
        <!--<ion-option>Pepperoni</ion-option>-->
        <!--<ion-option>Sausage</ion-option>-->
      </ion-select>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "stateEmpty && ( stateChange || f.submitted)">فیلد استان خالی می باشد .</span></p>
    </ion-item>



    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>شهر</ion-label>
      <ion-select  multiple="false" name="city"  (ionChange)="changeCity($event)" [(ngModel)]="city">
        <ion-option [value]="city" *ngFor="let city of cities; let i=index">{{city}}</ion-option>

        <!--<ion-option>Bacon</ion-option>-->
        <!--<ion-option>Black Olives</ion-option>-->
        <!--<ion-option>Extra Cheese</ion-option>-->
        <!--<ion-option>Mushrooms</ion-option>-->
        <!--<ion-option>Pepperoni</ion-option>-->
        <!--<ion-option>Sausage</ion-option>-->
      </ion-select>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf= "cityEmpty && ( cityChange || f.submitted)">فیلد شهر خالی می باشد .</span></p>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>انتخاب نماینده</ion-label>
      <ion-select  multiple="false" name="agent"  (ionChange)="changeAgent($event)" >
        <ion-option [value]="agent.id" *ngFor="let agent of agents; let i=index">{{agent.firstName +" "+agent.lastName}}</ion-option>
      </ion-select>
    </ion-item>
<ion-item>
</ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>انتخاب بازاریاب</ion-label>
      <ion-select  multiple="false" name="marketer"  (ionChange)="changeMarketer($event)">
        <ion-option [value]="marketer.id" *ngFor="let marketer of marketers; let i=index">{{marketer.lastName+" "+marketer.firstName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
    </ion-item>

    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>کدپستی</ion-label>
      <ion-input type="text" name="zip_code" maxlength="500" ngModel #zip_code="ngModel" pattern="([0-9]{5})(-[0-9]{5})" required ></ion-input>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="zip_code.hasError('pattern') && f.controls.zip_code.dirty"> کدپستی خود را صحیح وارد کنید .</span><span *ngIf= "zip_code.hasError('required') && (f.controls.zip_code.dirty || f.submitted)">فیلد کدپستی خالی می باشد .</span></p>
    </ion-item>


    <ion-item>
      <ion-icon class="input-icon" ios="ios-phone-portrait-outline" md="md-phone-portrait" item-left></ion-icon>
      <ion-label floating>آدرس</ion-label>
      <ion-textarea name="address" ngModel #address="ngModel" maxlength="500" required  ></ion-textarea>
    </ion-item>
    <ion-item>
      <p class="input-error"><span *ngIf="address.hasError('maxlength') && f.controls.address.dirty">آدرس باید حداکثر ۸ کاراکتر باشد .</span><span *ngIf= "address.hasError('required') && (f.controls.address.dirty || f.submitted)">فیلد آدرس خالی می باشد .</span></p>
    </ion-item>


    <button [disabled]="loading"  class="login-button" ion-button round full type="submit">
      ثبت نام
    </button>
  </ion-list>
  </form>
</ion-content>
<!--<ion-footer class="clear-gap">-->
  <!--<ion-toolbar color="light" no-border>-->
    <!--<p class="title">-->
      <!--Or Sign in with-->
    <!--</p>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="facebook"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="twitter"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button clear icon-only>-->
        <!--<ion-icon name="google"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
