<!--
  Generated template for the Welcome page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content class="page-welcome no-scroll">
  <ion-slides class="welcome-slider" pager>
    <ion-slide *ngFor="let slide of shopSliders">
      <img [src]="slide.image">
    </ion-slide>
  </ion-slides>

  <div class="content">
    <div class="title">
      به مارکت   <span>  خوش آمدید</span>
    </div>
    <div class="line">
    </div>
    <div class="description">
      <!--Each online store has its own store and bag, but if you want to go shopping in multiple places at once, so you should only have one bag.-->
    </div>
  </div>
</ion-content>

<ion-footer class="clear-gap">
    <button class="footer-button" ion-button full (click)="signin()">شروع کنید</button>
</ion-footer>
