<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <div><span>فروشگاه</span></div>
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>


<ion-content class="page-search">
  <div class="result-list">
    <ion-list class="cart-list">
      <ion-item class="cart-list-item" *ngFor="let product of products">
        <ion-thumbnail item-left>
          <a (click)="toProduct(product)">
            <img [src]="baseUrl +imageDir+product.images[0].image_name">
          </a>
        </ion-thumbnail>
        <a (click)="toProduct(product)">
          <h2 dir="rtl" class="align-right">{{product.name}}</h2>
        </a>
        <!--<div class="size">-->
          <!--Size: <span *ngFor="let s of product.sizes; let i=index">{{s}}<span *ngIf="i < (product.sizes.length - 1)">, </span></span>-->
        <!--</div>-->
        <!--<div class="size">-->
          <!--Color: <span *ngFor="let c of product.colors; let i=index">{{c}}<span *ngIf="i < (product.colors.length - 1)">, </span></span>-->
        <!--</div>-->
        <div class="price-wrapper">
          <div class="price"> {{setStylePrice(product.colors[0].price)}} تومان</div>
          <!--<div class="old-price">$ {{product.price}}</div>-->
        </div>
        <!--<div item-right class="right-bag">-->
          <!--<div *ngIf="product.status === 'in'" class="available">In stock</div>-->
          <!--<div *ngIf="product.status === 'out'" class="notavailable">Out of stock</div>-->
        <!--</div>-->
      </ion-item>

    </ion-list>
    <div class="price-wrapper align-center" *ngIf="products.length == 0 && loading == false">
      کالایی وجود ندارد.
      <!--<div class="price"> {{setStylePrice(product.colors[0].price)}} تومان</div>-->
      <!--<div class="old-price">$ {{product.price}}</div>-->
    </div>
    <div class="price-wrapper align-center" *ngIf=" loading == true && p == 1">
      <img class="search-loading" src="assets/img/loading.gif" alt="">      <!--<div class="price"> {{setStylePrice(product.colors[0].price)}} تومان</div>-->
      <!--<div class="old-price">$ {{product.price}}</div>-->
    </div>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" >
      <!--<div class="price-wrapper align-center" *ngIf=" loading == true">-->
      <!--<img class="search-loading" src="assets/img/loading.gif" alt="">      &lt;!&ndash;<div class="price"> {{setStylePrice(product.colors[0].price)}} تومان</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="old-price">$ {{product.price}}</div>&ndash;&gt;-->
      <!--</div>-->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
