<!--
  Generated template for the Filtermodal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content class="page-filtermodal pane no-scroll">
  <div dir='ltr' class="filter-container">
    <div class="header">
      <span class="title">فیلتر با</span>
      <span class="close">
        <button ion-button icon-only clear (click)="close()"><ion-icon name="close"></ion-icon></button>
      </span>
    </div>
    <div class="content">
      <div class="vertical-tabs">
        <div class="tabs-left">
          <div *ngFor="let title of filtertitles" class="tab-left-item" [class.active]="title.selected">
            <button ion-button clear (click)="chooseTab(title,title.id)">{{title.name}}</button>
          </div>
        </div>
        <!--<ion-scroll class="tabs-right" scrollY="true" *ngIf="false">-->
          <!--<div class="tab-right-item" *ngFor="let val of selectedFilter.filters">-->
            <!--<button *ngIf="!val.checked" class="button-square" ion-button clear (click)="selectFilters(selectedFilter, val)">-->
              <!--<ion-icon class="tab-icon-square" name="square-outline"></ion-icon>{{val.title}}-->
            <!--</button>-->
            <!--<button *ngIf="val.checked" class="button-checkmark" ion-button clear (click)="selectFilters(selectedFilter, val)">-->
              <!--<ion-icon class="tab-icon-checkmark" name="checkmark"></ion-icon>{{val.title}}-->
            <!--</button>-->
          <!--</div>-->
        <!--</ion-scroll>-->
        <ion-scroll class="tabs-right" scrollY="true" *ngIf="selectedId == 1">
          <div class="tab-right-item" >
            <ion-item class="font-size8">
              <ion-range class="padding-right0 padding-left0" min="{{range.min}}" max="{{range.max}}" dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
                <ion-icon class="font-size10" range-left small >{{range.min}}</ion-icon>
                <ion-icon class="font-size10 paddin-top6" range-right >{{range.max}}</ion-icon>
              </ion-range>
            </ion-item>

          </div>
        </ion-scroll>
        <ion-scroll class="tabs-right" scrollY="true" *ngIf="selectedId == 2">
          <ion-list>
            <ion-item dir="rtl">
              <!--<ion-label>Toppings</ion-label>-->
              <!--[(ngModel)]="toppings"-->
              <ion-select class="max-width100 width100" (ionChange)="selectOrder($event)"   cancelText="cancel" okText="ok">
                <ion-option value="2" [selected]="order_id == 2" >جدیدترین</ion-option>
                <ion-option value="1" [selected]="order_id == 1">پربازدیدترین</ion-option>
                <ion-option value="3" [selected]="order_id == 3">پرفروش ترین</ion-option>
                <ion-option value="4" [selected]="order_id == 4">ارزان ترین</ion-option>
                <ion-option value="5" [selected]="order_id == 5">گران ترین</ion-option>

              </ion-select>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <ion-scroll class="tabs-right" scrollY="true" *ngIf="selectedId == 3">
          <ion-list>
            <ion-item dir="rtl">
              <ion-label>برند</ion-label>
              <!--[(ngModel)]="toppings"-->
              <ion-select multiple="true" (ionChange)="selectBrand($event,i)"     cancelText="cancel" okText="ok">
                <ion-option [value]="brand.id" [selected]="brand.selected" *ngFor="let brand of brands;let i = index;">{{brand.name}}</ion-option>
                <!--<ion-option [value]="brand.id" >{{brand.name}}</ion-option>-->
                <!--<ion-option value="xcheese" >پرفروش ترین</ion-option>-->
                <!--<ion-option value="peppers">ارزان ترین</ion-option>-->
                <!--<ion-option value="mushrooms">گران ترین</ion-option>-->

              </ion-select>
            </ion-item>
          </ion-list>
        </ion-scroll>
        <ion-scroll class="tabs-right" scrollY="true" *ngIf="selectedId == 4">
          <ion-list>
            <ion-item dir="rtl" *ngFor="let categoryattribute of categoryattributes;let i = index;">
              <ion-label>{{categoryattribute.name}}</ion-label>
              <!--[(ngModel)]="toppings"-->
              <ion-select multiple="true" (ionChange)="selectedCats($event,i)"    cancelText="cancel" okText="ok">
                <ion-option [value]="attribute.id"  *ngFor="let attribute of categoryattribute.attributes" [selected]="attribute.selected">{{attribute.description}}</ion-option>
                <!--<ion-option value="olives">پربازدیدترین</ion-option>-->
                <!--<ion-option value="xcheese" >پرفروش ترین</ion-option>-->
                <!--<ion-option value="peppers">ارزان ترین</ion-option>-->
                <!--<ion-option value="mushrooms">گران ترین</ion-option>-->

              </ion-select>
            </ion-item>
            <!--<ion-item dir="rtl">-->
              <!--<ion-label>Toppings</ion-label>-->
              <!--&lt;!&ndash;[(ngModel)]="toppings"&ndash;&gt;-->
              <!--<ion-select multiple="true"    cancelText="cancel" okText="ok">-->
                <!--<ion-option value="bacon" selected="true">جدیدترین</ion-option>-->
                <!--<ion-option value="olives">پربازدیدترین</ion-option>-->
                <!--<ion-option value="xcheese" >پرفروش ترین</ion-option>-->
                <!--<ion-option value="peppers">ارزان ترین</ion-option>-->
                <!--<ion-option value="mushrooms">گران ترین</ion-option>-->

              <!--</ion-select>-->
            <!--</ion-item>-->
            <!--<ion-item dir="rtl">-->
              <!--<ion-label>Toppingwlkje</ion-label>-->
              <!--&lt;!&ndash;[(ngModel)]="toppings"&ndash;&gt;-->
              <!--<ion-select multiple="true"     cancelText="cancel" okText="ok">-->
                <!--<ion-option value="bacon" selected="true">جدیدترین</ion-option>-->
                <!--<ion-option value="olives">پربازدیدترین</ion-option>-->
                <!--<ion-option value="xcheese" >پرفروش ترین</ion-option>-->
                <!--<ion-option value="peppers">ارزان ترین</ion-option>-->
                <!--<ion-option value="mushrooms">گران ترین</ion-option>-->

              <!--</ion-select>-->
            <!--</ion-item>-->
          </ion-list>
        </ion-scroll>
        <ion-scroll class="tabs-right" scrollY="true" *ngIf="selectedId == 5">
          <ion-list>
            <ion-item dir="rtl">

            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </div>
    <div class="footer">
      <div class="button-left">
        <button ion-button full clear (click)="clearAll()">پاک کردن همه</button>
      </div>
      <div class="button-right">
        <button ion-button full clear (click)="applyFilter()">اعمال فیلتر</button>
      </div>
    </div>
  </div>
</ion-content>
