.title-price {
  color: red;
  padding-left: 3vw;
  padding-right: 3vw;
}
.custom-price {
  /*color: #3fb653;*/
  /*padding-left: 3vw;*/
  /*padding-right: 3vw;*/
  font-size: 11px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
page-categories .content-wrapper .card9-container {
  height: calc((110vh - 32px - 50px - 70px)/2 - 2px) !important;

}
.redirect-home {
  cursor: pointer;
}
.alert-md .alert-radio-icon {
  left: -5px !important;
}
.alert-md .alert-checkbox-icon {
  left: -5px !important;
}
.margin-top30{
  margin-top: 30px !important;
}
.profile-notlogin{
  padding-right: 10px !important;
  padding-left: 10px !important;
  height: 90% !important;
  padding-top: 33% !important;
}
.profile-btn{
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.cb-product{
  border-radius: 50% !important;
  /*padding: 5px !important;*/
}
.cb-product .checkbox-icon {
  border-color: #fff !important;
  background-color: inherit !important;
  border-radius: 50%;
}
.inline{
  display: inline-block !important;
}
.align-center{
  text-align: center !important;
}
.title-product{
  font-size: 16px !important;
  color: #333;
}
.sale-price {
  font-size: 14px !important;
}
.lineh25{
  line-height: 25px !important;
}
.align-right{
  text-align: right !important;
}
.align-left{
  text-align: left !important;
}
.rtl{
  direction: rtl !important;
}
.width70{
  width: 70% !important;
}
.width30{
  width: 30% !important;
}
.width100{
  width: 100% !important;
}
.color-cart{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
}
.title-color{
  padding: 10px !important;
}
.home-cat-img{
  width: 70%;
  /*height: 70%;*/
}
.font-size8{
  font-size: 8px !important;
}
.padding-left0{
  padding-left: 0px !important;

}
.padding-right0{
  padding-right: 0px !important;
}
.paddin-top6{
  padding-top: 7px !important;
}
.max-width100{
  max-width: 100% !important;
}
.font-size10{
  font-size: 10px !important;
}
.page-categories .content-wrapper {

  min-height: calc(104vh - 32px - 50px - 70px) !important;

}
.scroll-content {
  /*top: 17px !important;*/
}
.margin-top33 {
  margin-top: 33px !important;

}
.margin-top35{
  margin-top: 35px !important;
}
.display-none{
  display: none !important;
}
.height0 {
  height: 0px !important;
  /*min-height: 40px !important;*/
}
.height0 * {
  height: 0px !important;
  /*min-height: 40px !important;*/
}
.page-categories > .scroll-content {
  margin-top: 64px !important;
}
.page-categories > .fixed-content {
  margin-top: 64px !important;
}
.border-top{
  border-top: 0.55px solid #c8c7cc !important;
}
/*.width50{*/
  /*width:200px !important;*/
  /*height: 200px !important;*/
/*}*/
/*.height50{*/
  /**/
/*}*/
