<!--
  Generated template for the Mycart page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      سبد خرید
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-mycart">
  <div class="no-items" *ngIf="cart.products.length === 0">
    <div class="title">
      هیج محضولی دز کارت شما نیست
    </div>
    <div class="no-items-image">
      <img src="assets/img/thankyou.png">
    </div>
    <div class="no-items-round">
      <button ion-button clear (click)="shopping()">Continue Shopping</button>
    </div>
  </div>
  <ion-list class="cart-list">
    <ion-item-sliding *ngFor="let item of products; let i = index;">
      <ion-item class="cart-list-item" [class.odd]="i%2!==0">
        <ion-thumbnail item-left>
          <img [src]="showImageUrl + item.images[0].image_name">
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <div class="size">   <span class="color-cart" [ngStyle]="{'background-color': item.selectedColor.color}"></span></div>
        <div class="price-wrapper">
          <div class="price" > {{setStylePrice(item.selectedColor.price)}} تومان</div>
          <!--<div *ngIf="item.product.discount>0" class="old-price">$ {{item.product.discount}}</div>-->
        </div>
        <div class="price-wrapper">
          <button ion-button icon-only color="danger"  (click)="deleteProduct(i)" >
          <ion-icon name="trash"></ion-icon>
          </button>
          <!--<div *ngIf="item.product.discount>0" class="old-price">$ {{item.product.discount}}</div>-->
        </div>
        <div item-right class="right-bag">
          <div class="right-button">
            <button ion-button clear (click)="incQty(item)">
            <ion-icon class="add" name="add"></ion-icon>
          </button>
          </div>
          <div class="right-quantity">
            <!--{{item.quantity}}-->
            {{item.selectedColor.numberInCart}}
          </div>
          <div class="right-button">
            <button ion-button clear icon-only (click)="decQty(item)">
            <ion-icon name="remove"></ion-icon>
          </button>
          </div>
        </div>
      </ion-item>
      <!--<ion-item-options class="actiion-button" side="left">-->
        <!--<button ion-button icon-only>-->
          <!--<ion-icon name="create"></ion-icon>-->
        <!--</button>-->
      <!--</ion-item-options>-->
      <!--<ion-item-options class="actiion-button" side="right">-->
        <!--<button ion-button icon-only color="danger"  >-->
          <!--<ion-icon name="trash"></ion-icon>-->
        <!--</button>-->
      <!--</ion-item-options>-->
    </ion-item-sliding>
  </ion-list>

  <div dir='ltr' class="place-order-wrapper" *ngIf="products.length > 0">
    <div class="place-order-round">
      <div class="place-order">
        <button ion-button clear [disabled]="loading" (click)="checkNumber()">پرداخت</button>
      </div>
      <div class="order-price">
      {{setStylePrice(sumPrice + sendPrice)}}
      </div>
    </div>
  </div>
  <div dir='rtl' class="place-order-wrapper align-center" *ngIf="products.length == 0">
   کالایی در سبد خرید شما وجود ندارد.
  </div>
</ion-content>
